$ff-caption-text-height: 22px;


.ff-grid-container {
	display: inline-grid;

	.ff-grid {
		background: $ff-background-color-wokbench;
		// width: 100%;
		display: inline-block;

		overflow-y: auto;
		overflow-x: auto;
		//height: 200px;

		.selected {
			background: lighten($ff-hover-color, 55%) !important;
		}

		.ff-table {
			border-collapse: collapse;
			table-layout: fixed;

			.ff-thead {
				background: $ff-base;
				position: sticky;
				top: 0;

				th {
					border: 1px solid darken($ff-base, 20%);
					font-size: map-get($ff-grid, "header-font-size");
					font-weight: bold;
					color: #FFFFFF;
					// border-left: 1px solid darken($ff-base,70%);
					// &:first-child {border-left: none;}
					padding: 5px;

					&--left-align {
						@extend th;
						text-align: left;
					}

					&--center-align {
						@extend th;
						text-align: center;
					}

					div {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						cursor: default;
					}

				}

			}
			.ff-tbody {
				tr {
					&:hover {
						background: lighten($ff-hover-color, 55%);
						// cursor: pointer;
						cursor: default;
					}

					td {
						border-left: 1px dotted darken($ff-base, 5%);
						.div {
							padding: 3px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;

							&--left-align {
								@extend .div;
								text-align: left;
							}

							&--center-align {
								@extend .div;
								text-align: center;
							}

							&--center-align-action-group {
								// @extend .div;
								text-align: center;
							}

							&--action-group {
								@extend .div;
								display: inline-flex;
								width: 100%;

								div {
									margin-left: 1%;
								}
							}
						}
					}

				}

			}

			tr {
				&:nth-child(even) {
					background: lighten($ff-base, 50%);
				}
			}

		}
	}

	.toolbar {
		//top right bottom left
		padding: 5px 10px 2px 5px;
		display: inline-flex;
		justify-content: flex-start;

		.toolbarButton {
			display: inline-flex;
			.divButton {
				margin-left: 4px;
			}
		}

		.dataSelected {
			padding-left: 5px;
			width: 200px;

			// center flex type
			//display: flex;
			//justify-content: center;
			//align-content: center;
			//flex-direction: column;

			line-height: $ff-caption-text-height;
			vertical-align: middle;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

		}

	}
        .paginate{
	        padding: 2px 7px 2px 2px;
	        display: inline-flex;
	        justify-content: flex-start;
	        //background: #C5FE00;
            .divButton {
	            margin-top: 1px;
                margin-left: 4px;
	            //line-height: 30px; vertical-align: middle;
            }

	        .divButtonDinamic {
		        margin-top: 1px;
		        margin-left: 4px;
		        //line-height: 30px; vertical-align: middle;

		        .divSapacer{
			        width: 35px;
			        height: 22px;
			        border-radius: 4px;
			        background: $ff-background-color-wokbench;
			        // border: 1px solid darken($ff-base, 20%);
		        }
	        }

	        .divButtonGoTo {
		        //background: red;
	            margin-top: 1px;
		        margin-left: 10px;
		        margin-right: 5px;
	        }

	        .divInputGoto {
		        //background: #005cc5;
	        }

	        .divLabelInfo {
		        //background: #9561e2;
		        width: 70px;
		        text-align: right;
		        label{
			        position: relative;
			        top: 22%;
		        }
	        }

        }



}
